.sectionHeading {
  color: #026fc2;
  font-size: 36px;
  font-weight: 500;
}

.sectionCaption {
  color: #364f62;
  width: 70%;
}

.introSectionImage {
  width: 100%;
}

.sectionBtn {
  font-size: 14px;
}

.grayLine {
  width: 152px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
