@import '../../styles/variables';
.welcome-rectangle {
  height: 350px;
  width: 275px;
  background: #014d87;
  box-shadow: 0px 11px 14px rgba(1, 77, 135, 0.3);
  border-radius: 10px 0 0 10px;
  h1 {
    color: white;
  }
}
.signin-rectangle {
  max-width: 350px;
  min-height: 480px;
  background: #026fc2;
  box-shadow: 0px 15px 17px rgba(2, 111, 194, 0.3);
  border-radius: 10px;
  input {
    font-size: 14px;
    width: 250px;
    height: 45px;
  }
  p {
    color: white;
    margin: 0 auto;
  }
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  h3 {
    margin-top: 4rem;
  }
}
.signin-btn {
  background-color: white;
  color: $primaryColor;
  &:hover {
    background-color: $darkerBlue;
    color: white;
  }
  width: 100px;
  height: 40px;
  font-size: 14px;
  margin: 0 auto;
}
