.NewsLetter {
    align-items: center;
}

.inputFiled{
    height: 48px !important;
    width: 264px !important;
}

.NewsLetter{
    height: 277px;
    background-color: #D8D8D8;
    padding-top: 57px;
}

.InputGroup{
    margin: 0 auto;
}