@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
.active-link {
  color: #026fc2 !important;
}

.navbar {
  min-height: 76px;
}

.navbar .nav-link {
  font-size: 18px;
}

.navbar .navbar-brand {
  font-family: 'Amiri', serif;
  font-size: 25px;
}

.navbar-brand {
  padding: 0 15px;
  height: 76px;
  line-height: 76px;
}

.navbar-toggle {
  /* (76px - button height 34px) / 2 = 21px */
  margin-top: 21px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (76px - line-height of 27px) / 2 = 24.5px */
    padding-top: 24.5px;
    padding-bottom: 24.5px;
    line-height: 27px;
  }
}

.section-container h2 {
  color: #026fc2;
}

.section-container p {
  color: #5d646a;
}

.row-container {
  margin-top: 6rem;
}

.row-container img {
  margin-top: 1rem;
}

.section-header {
  margin-bottom: 1rem;
  font-weight: 600;
}

.card-image {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.goal-card {
  max-width: 18rem;
  border: 0;
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 16px rgba(40, 41, 61, 0.08);
          box-shadow: 0px 6px 16px rgba(40, 41, 61, 0.08);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.goal-card:hover {
  -webkit-box-shadow: 0px 8px 26px rgba(40, 41, 61, 0.1);
          box-shadow: 0px 8px 26px rgba(40, 41, 61, 0.1);
}

.card-title {
  font-size: 28px;
  color: #026fc2;
  font-weight: 600;
}

.section-title {
  font-size: 32px;
  color: #026fc2;
  font-weight: 600;
}

footer {
  background-color: #014d87;
  min-height: 250px;
  font-weight: normal;
}

footer .footer-container {
  min-height: 250px;
}

footer .footer-container .row-container {
  min-height: 250px;
}

footer .footer-container p {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  footer .first-col {
    margin-top: 1rem;
  }
}

footer a {
  font-weight: normal;
  color: white;
}

footer a:hover {
  color: white;
}

.linksHeader {
  border-left: 4px solid #F25929;
  padding-left: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem;
  font-weight: normal;
}

.page-container {
  height: 80vh;
}

.welcome-rectangle {
  height: 350px;
  width: 275px;
  background: #014d87;
  -webkit-box-shadow: 0px 11px 14px rgba(1, 77, 135, 0.3);
          box-shadow: 0px 11px 14px rgba(1, 77, 135, 0.3);
  border-radius: 10px 0 0 10px;
}

.welcome-rectangle h1 {
  color: white;
}

.signin-rectangle {
  max-width: 350px;
  min-height: 480px;
  background: #026fc2;
  -webkit-box-shadow: 0px 15px 17px rgba(2, 111, 194, 0.3);
          box-shadow: 0px 15px 17px rgba(2, 111, 194, 0.3);
  border-radius: 10px;
}

.signin-rectangle input {
  font-size: 14px;
  width: 250px;
  height: 45px;
}

.signin-rectangle p {
  color: white;
  margin: 0 auto;
}

.signin-rectangle a {
  color: white;
}

.signin-rectangle a:hover {
  color: white;
}

.signin-rectangle h3 {
  margin-top: 4rem;
}

.signin-btn {
  background-color: white;
  color: #026fc2;
  width: 100px;
  height: 40px;
  font-size: 14px;
  margin: 0 auto;
}

.signin-btn:hover {
  background-color: #014d87;
  color: white;
}

.member-name {
  color: #026fc2;
}

.section-title {
  color: #026fc2;
  font-weight: bold;
}

.social-media {
  margin: 0 auto;
}

.social-media img {
  width: 25px;
  fill: #026fc2;
}

.social-media ul {
  width: 120px;
}

.time-input {
  border: 1px solid #c3c3c3;
  height: 36px;
  line-height: 36px;
  width: 50%;
  padding: 8px;
  border-radius: 3px;
}

.time-table {
  margin-top: 7rem;
}

.day-name p {
  color: black;
  font-size: large;
}

.side-nav-container {
  background-color: #ebebeb;
  color: black;
  height: 100vh;
}

.side-nav-container a {
  color: black;
}

.main-content {
  width: 60%;
  background-color: white;
  height: 100vh;
}

.modal-container p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  color: black;
}

.modal-container .modal-content {
  -webkit-box-shadow: 0px 6px 42px rgba(63, 61, 86, 0.69);
          box-shadow: 0px 6px 42px rgba(63, 61, 86, 0.69);
  border-radius: 10px;
}

.calendar-section {
  width: 25%;
  background-color: #026fc2;
  height: 100vh;
}

.calendar-section input {
  display: none;
}

.calendar-section .flatpickr-calendar {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100%;
}

.calendar-section .flatpickr-calendar .flatpickr-months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.calendar-section .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  cursor: pointer;
}

.calendar-section .flatpickr-calendar .flatpickr-months .flatpickr-prev-month {
  cursor: pointer;
}

.calendar-section .flatpickr-calendar .flatpickr-months svg {
  width: 20px;
  fill: white;
}

.calendar-section .flatpickr-calendar .flatpickr-weekdaycontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}

.calendar-section .flatpickr-calendar .flatpickr-weekdaycontainer .flatpickr-weekday {
  -ms-flex-preferred-size: 14.28%;
      flex-basis: 14.28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar-section .flatpickr-calendar .dayContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calendar-section .flatpickr-calendar .dayContainer .prevMonthDay {
  color: #959595;
}

.calendar-section .flatpickr-calendar .dayContainer .nextMonthDay {
  color: #959595;
}

.calendar-section .flatpickr-calendar .dayContainer .selected {
  background-color: white;
  color: #026fc2;
  border-radius: 50px;
}

.calendar-section .flatpickr-calendar .flatpickr-day {
  -ms-flex-preferred-size: 14.28%;
      flex-basis: 14.28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.calendar-section .flatpickr-calendar .flatpickr-day:hover {
  background-color: white;
  color: #026fc2;
  border-radius: 50px;
  cursor: pointer;
}

#line {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.small-appointment-card {
  cursor: pointer;
  width: inherit;
  height: 100px;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0px 4px 25px rgba(63, 61, 86, 0.05);
          box-shadow: 0px 4px 25px rgba(63, 61, 86, 0.05);
  border-radius: 10px;
  border-left: 10px solid #026fc2;
}

.small-appointment-card p {
  margin: 0 1rem;
  color: black;
}


.cover {
  background: #026fc2;
}

.profileCover {
  margin-bottom: -1rem;
}
/*# sourceMappingURL=style.css.map */
