@import '../../styles/variables';
.section-container {
  h2 {
    color: $primaryColor;
  }
  p {
    color: $textColor;
  }
}
.row-container {
  margin-top: 6rem;
  img {
    margin-top: 1rem;
  }
}

.section-header {
  margin-bottom: 1rem;
  font-weight: 600;
}
