@import '../../styles/variables';

//overriding sidenav default styles
.side-nav-container {
  background-color: #ebebeb;
  color: black;
  width: 15%;
  height: 100vh;
}
.main-content {
  width: 60%;
  background-color: white;
  height: 100vh;
}
.calendar {
  width: 25%;
  background-color: $primaryColor;
  height: 100vh;
}
#line{
  height: 1px;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.1);
}