@import '../../styles/_variables.scss';

.cover{
    background: $primaryColor ;
    height: 330px;
}

.profileImage{

    margin-bottom: -1rem;
    border-radius: 10px;
}

.profileName{
    h2{
        color: #ffffff;
    }

}

