@import '../../../styles/variables';

.timeTable{
    table{
        width: 390px;
    }

    h4{
        margin-left: 1rem;
        margin-bottom: 5rem;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #000000;

    }

    
}