@import '../variable';
.searchForm {
  margin-top: 100px;
  margin-bottom: 148px;
}
.searchHead {
  margin-bottom: 79.56px;
  h1 {
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    display: inline-block;
    color: #000000;
  }

  img {
    margin-left: 30px;
    margin-top: -15px;
  }
}

.form-row {
  input,
  select {
    margin-bottom: 10px;
    height: 51px;
  }

  button {
    color: white;
    background-color: $theBlue;
  }
}

.myButton {
  font-size: $pFont;
  height: 51px;
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  background: $theBlue;

  svg {
    margin-left: 5px;
  }
}
