@import '../../styles/variables';

footer {
  background-color: $darkerBlue;
  min-height: 250px;
  .container {
    min-height: 250px;
    .row {
      min-height: 250px;
    }
  }

  @media only screen and(max-width: 767px) {
    .first-col {
      margin-top: 1rem;
    }
  }
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}
