@import '../../styles/variables';

footer {
  background-color: $darkerBlue;
  min-height: 250px;
  font-weight: normal;
  .footer-container {
    min-height: 250px;
    .row-container {
      min-height: 250px;
    }
    p{
      color:#fff
    }
  }

  @media only screen and(max-width: 767px) {
    .first-col {
      margin-top: 1rem;
    }
  }
  a {
    font-weight: normal;
    color: white;
    &:hover {
      color: white;
    }
  }
}

.linksHeader{
  border-left: 4px solid #F25929;
  padding-left: 0.4rem;
  display: flex;
  margin-left: -1rem;
  font-weight: normal;
}
